<div class="flex flex-col justify-center min-h-screen pt-4 bg-gray-100 min-w-screen">
    <div class="w-full max-w-screen-lg mx-auto my-32">
        <div class="flex flex-col my-4">
            <div class="m-2">
                <div class="flex">
                    <div class="w-full pt-8 bg-gray-300 rounded-lg shadow-lg">
                        <table class="w-full pb-8 text-left">
                            <thead>
                                <tr>
                                    <th class="pb-6 pl-8 text-sm tracking-wide text-gray-600 cursor-pointer hover:text-gray-700">
                                        Member
                                    </th>
                                    <th class="pb-6 text-sm tracking-wide text-gray-600 cursor-pointer hover:text-gray-700">
                                        Joining Date
                                    </th>
                                    <th class="pb-6 text-sm tracking-wide text-gray-600 cursor-pointer hover:text-gray-700">
                                        Address
                                    </th>

                                    <th class="pb-6 pl-2 text-sm tracking-wide text-gray-600 cursor-pointer hover:text-gray-700">
                                        Type
                                    </th>
                                    <th class="pb-6 pl-6 text-sm tracking-wide text-gray-600 cursor-pointer hover:text-gray-700">
                                        Status
                                    </th>
                                    <th class="pb-6 text-sm tracking-wide text-gray-600 cursor-pointer hover:text-gray-700">
                                        Operation
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="bg-white border-b-2 hover:bg-gray-100">
                                    <td class="py-3">
                                        <div class="flex">
                                            <div class="w-12 h-12 ml-6 bg-cover rounded-full" style="background-image: url('https://unsplash.com/photos/a6PMA5JEmWE/download?force=true&w=640');"></div>
                                            <div class="flex flex-col justify-around ml-5 leading-none">
                                                <div class="font-bold tracking-wide">
                                                    Nicholas Arellano
                                                </div>
                                                <div class="text-xs text-gray-600">
                                                    harry_kohle8@fmail.com
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">2018</div>
                                            <div class="mt-2 text-xs text-gray-600">06 Apr</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">Owatonna, US</div>
                                            <div class="mt-2 text-xs text-gray-600">
                                                4546 Pritchard Court
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="py-2 text-sm font-bold text-center text-white bg-blue-300 rounded-full">BASIC</div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex px-3 rounded-full">
                                            <div class="w-6 h-6 px-2 py-2 text-red-500 fill-current">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.1 29.1">
                                                    <path d="M15 0C7 0 0 7 0 15s7 14 15 14 14-6 14-14S23 0 15 0z" />
                                                </svg>
                                            </div>
                                            <p class="text-red-500">Inactive</p>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex justify-center mr-6">
                                            <div class="mr-2 text-indigo-500 bg-indigo-200 rounded-full cursor-pointer hover:bg-indigo-300 hover:text-indigo-600">
                                                <div class="w-8 h-8 px-2 py-2 fill-current">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.7 394.7">
                                                        <path d="M57 241L242 56l97 97-185 185zM389 79L317 5c-8-7-19-7-25 0h-1l-32 32 98 98 32-31c7-7 7-19 0-25zM42 262L2 370a18 18 0 0023 24l108-41-91-91z" />
                                                    </svg>
                                                </div>
                                            </div>

                                            <div class="w-8 h-8 rounded-full">
                                                <div class="p-2 text-blue-700 cursor-pointer fill-current hover:text-blue-900">
                                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                                        <g>
                                                            <path d="m256 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m346 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m166 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path
                                                                d="m46 150h45v347c0 8.284 6.716 15 15 15h300c8.284 0 15-6.716 15-15v-347h45c8.284 0 15-6.716 15-15s-6.716-15-15-15h-15v-45c0-8.284-6.716-15-15-15h-105v-45c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v45h-105c-8.284 0-15 6.716-15 15v45h-15c-8.284 0-15 6.716-15 15s6.716 15 15 15zm345 332h-270v-332h270zm-180-452h90v30h-90zm-120 60h330v30h-330z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="bg-white border-b-2 hover:bg-gray-100">
                                    <td class="py-3">
                                        <div class="flex">
                                            <div class="w-12 h-12 ml-6 bg-cover rounded-full" style="background-image: url('https://unsplash.com/photos/mEZ3PoFGs_k/download?force=true&w=640');"></div>
                                            <div class="flex flex-col justify-around ml-5 leading-none">
                                                <div class="font-bold tracking-wide">
                                                    Dorcas Ramirez
                                                </div>
                                                <div class="text-xs text-gray-600">
                                                    gabe1971@fmail.com
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">2017</div>
                                            <div class="mt-2 text-xs text-gray-600">30 Jul</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">Brighton, US</div>
                                            <div class="mt-2 text-xs text-gray-600">
                                                714 Sampson Street
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="py-2 text-sm font-bold text-center text-white bg-orange-400 rounded-full">PREMIUM</div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex px-3 rounded-full">
                                            <div class="w-6 h-6 px-2 py-2 text-green-500 fill-current">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.1 29.1">
                                                    <path d="M15 0C7 0 0 7 0 15s7 14 15 14 14-6 14-14S23 0 15 0z" />
                                                </svg>
                                            </div>
                                            <p class="text-green-500">Active</p>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex justify-center mr-6">
                                            <div class="mr-2 text-indigo-500 bg-indigo-200 rounded-full cursor-pointer hover:bg-indigo-300 hover:text-indigo-600">
                                                <div class="w-8 h-8 px-2 py-2 fill-current">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.7 394.7">
                                                        <path d="M57 241L242 56l97 97-185 185zM389 79L317 5c-8-7-19-7-25 0h-1l-32 32 98 98 32-31c7-7 7-19 0-25zM42 262L2 370a18 18 0 0023 24l108-41-91-91z" />
                                                    </svg>
                                                </div>
                                            </div>

                                            <div class="w-8 h-8 rounded-full">
                                                <div class="p-2 text-blue-700 cursor-pointer fill-current hover:text-blue-900">
                                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                                        <g>
                                                            <path d="m256 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m346 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m166 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path
                                                                d="m46 150h45v347c0 8.284 6.716 15 15 15h300c8.284 0 15-6.716 15-15v-347h45c8.284 0 15-6.716 15-15s-6.716-15-15-15h-15v-45c0-8.284-6.716-15-15-15h-105v-45c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v45h-105c-8.284 0-15 6.716-15 15v45h-15c-8.284 0-15 6.716-15 15s6.716 15 15 15zm345 332h-270v-332h270zm-180-452h90v30h-90zm-120 60h330v30h-330z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="bg-white border-b-2 hover:bg-gray-100">
                                    <td class="py-3">
                                        <div class="flex">
                                            <div class="w-12 h-12 ml-6 bg-cover rounded-full" style="background-image: url('https://unsplash.com/photos/ZZAsbUp-7n8/download?force=true&w=640');"></div>
                                            <div class="flex flex-col justify-around ml-5 leading-none">
                                                <div class="font-bold tracking-wide">
                                                    Robert Lee
                                                </div>
                                                <div class="text-xs text-gray-600">
                                                    werner_vo1@fmail.com
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">2019</div>
                                            <div class="mt-2 text-xs text-gray-600">28 Feb</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">Columbia, US</div>
                                            <div class="mt-2 text-xs text-gray-600">
                                                933 Blue Spruce Lane
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="py-2 text-sm font-bold text-center text-white bg-red-400 rounded-full">PROFESSIONAL</div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex px-3 rounded-full">
                                            <div class="w-6 h-6 px-2 py-2 text-green-500 fill-current">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.1 29.1">
                                                    <path d="M15 0C7 0 0 7 0 15s7 14 15 14 14-6 14-14S23 0 15 0z" />
                                                </svg>
                                            </div>
                                            <p class="text-green-500">Active</p>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex justify-center mr-6">
                                            <div class="mr-2 text-indigo-500 bg-indigo-200 rounded-full cursor-pointer hover:bg-indigo-300 hover:text-indigo-600">
                                                <div class="w-8 h-8 px-2 py-2 fill-current">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.7 394.7">
                                                        <path d="M57 241L242 56l97 97-185 185zM389 79L317 5c-8-7-19-7-25 0h-1l-32 32 98 98 32-31c7-7 7-19 0-25zM42 262L2 370a18 18 0 0023 24l108-41-91-91z" />
                                                    </svg>
                                                </div>
                                            </div>

                                            <div class="w-8 h-8 rounded-full">
                                                <div class="p-2 text-blue-700 cursor-pointer fill-current hover:text-blue-900">
                                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                                        <g>
                                                            <path d="m256 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m346 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m166 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path
                                                                d="m46 150h45v347c0 8.284 6.716 15 15 15h300c8.284 0 15-6.716 15-15v-347h45c8.284 0 15-6.716 15-15s-6.716-15-15-15h-15v-45c0-8.284-6.716-15-15-15h-105v-45c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v45h-105c-8.284 0-15 6.716-15 15v45h-15c-8.284 0-15 6.716-15 15s6.716 15 15 15zm345 332h-270v-332h270zm-180-452h90v30h-90zm-120 60h330v30h-330z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="bg-white border-b-2 hover:bg-gray-100">
                                    <td class="py-3">
                                        <div class="flex">
                                            <div class="w-12 h-12 ml-6 bg-cover rounded-full" style="background-image: url('https://unsplash.com/photos/PgMOA6URY1E/download?force=true&w=640');"></div>
                                            <div class="flex flex-col justify-around ml-5 leading-none">
                                                <div class="font-bold tracking-wide">
                                                    Kimberly Edmonson
                                                </div>
                                                <div class="text-xs text-gray-600">
                                                    natalie.hi6@fmail.com
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">2020</div>
                                            <div class="mt-2 text-xs text-gray-600">18 Oct</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">California City, US</div>
                                            <div class="mt-2 text-xs text-gray-600">
                                                585 Carriage Court
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="py-2 text-sm font-bold text-center text-white bg-blue-300 rounded-full">BASIC</div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex px-3 rounded-full">
                                            <div class="w-6 h-6 px-2 py-2 text-gray-500 fill-current">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.1 29.1">
                                                    <path d="M15 0C7 0 0 7 0 15s7 14 15 14 14-6 14-14S23 0 15 0z" />
                                                </svg>
                                            </div>
                                            <p class="text-gray-500">Waiting</p>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex justify-center mr-6">
                                            <div class="mr-2 text-indigo-500 bg-indigo-200 rounded-full cursor-pointer hover:bg-indigo-300 hover:text-indigo-600">
                                                <div class="w-8 h-8 px-2 py-2 fill-current">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.7 394.7">
                                                        <path d="M57 241L242 56l97 97-185 185zM389 79L317 5c-8-7-19-7-25 0h-1l-32 32 98 98 32-31c7-7 7-19 0-25zM42 262L2 370a18 18 0 0023 24l108-41-91-91z" />
                                                    </svg>
                                                </div>
                                            </div>

                                            <div class="w-8 h-8 rounded-full">
                                                <div class="p-2 text-blue-700 cursor-pointer fill-current hover:text-blue-900">
                                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                                        <g>
                                                            <path d="m256 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m346 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m166 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path
                                                                d="m46 150h45v347c0 8.284 6.716 15 15 15h300c8.284 0 15-6.716 15-15v-347h45c8.284 0 15-6.716 15-15s-6.716-15-15-15h-15v-45c0-8.284-6.716-15-15-15h-105v-45c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v45h-105c-8.284 0-15 6.716-15 15v45h-15c-8.284 0-15 6.716-15 15s6.716 15 15 15zm345 332h-270v-332h270zm-180-452h90v30h-90zm-120 60h330v30h-330z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="bg-white border-b-2 hover:bg-gray-100">
                                    <td class="py-3">
                                        <div class="flex">
                                            <div class="w-12 h-12 ml-6 bg-cover rounded-full" style="background-image: url('https://unsplash.com/photos/4ewLF-Ixk5s/download?force=true&w=640');"></div>
                                            <div class="flex flex-col justify-around ml-5 leading-none">
                                                <div class="font-bold tracking-wide">
                                                    Hazel Franklin
                                                </div>
                                                <div class="text-xs text-gray-600">
                                                    mathilde2005@fmail.com
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">2021</div>
                                            <div class="mt-2 text-xs text-gray-600">14 Jun</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="text-sm font-bold">New York, US</div>
                                            <div class="mt-2 text-xs text-gray-600">
                                                273 Elm Drive
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex flex-col justify-center leading-none">
                                            <div class="py-2 text-sm font-bold text-center text-white bg-red-400 rounded-full">PROFESSIONAL</div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex px-3 rounded-full">
                                            <div class="w-6 h-6 px-2 py-2 text-red-500 fill-current">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.1 29.1">
                                                    <path d="M15 0C7 0 0 7 0 15s7 14 15 14 14-6 14-14S23 0 15 0z" />
                                                </svg>
                                            </div>
                                            <p class="text-red-500">Inactive</p>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="flex justify-center mr-6">
                                            <div class="mr-2 text-indigo-500 bg-indigo-200 rounded-full cursor-pointer hover:bg-indigo-300 hover:text-indigo-600">
                                                <div class="w-8 h-8 px-2 py-2 fill-current">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.7 394.7">
                                                        <path d="M57 241L242 56l97 97-185 185zM389 79L317 5c-8-7-19-7-25 0h-1l-32 32 98 98 32-31c7-7 7-19 0-25zM42 262L2 370a18 18 0 0023 24l108-41-91-91z" />
                                                    </svg>
                                                </div>
                                            </div>

                                            <div class="w-8 h-8 rounded-full">
                                                <div class="p-2 text-blue-700 cursor-pointer fill-current hover:text-blue-900">
                                                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                                        <g>
                                                            <path d="m256 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m346 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path d="m166 452c8.284 0 15-6.716 15-15v-242c0-8.284-6.716-15-15-15s-15 6.716-15 15v242c0 8.284 6.716 15 15 15z" />
                                                            <path
                                                                d="m46 150h45v347c0 8.284 6.716 15 15 15h300c8.284 0 15-6.716 15-15v-347h45c8.284 0 15-6.716 15-15s-6.716-15-15-15h-15v-45c0-8.284-6.716-15-15-15h-105v-45c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v45h-105c-8.284 0-15 6.716-15 15v45h-15c-8.284 0-15 6.716-15 15s6.716 15 15 15zm345 332h-270v-332h270zm-180-452h90v30h-90zm-120 60h330v30h-330z"
                                                            />
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="h-8 bg-white rounded-b-lg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>